.label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #F1F1F1;
  padding: 10px 12px;
  gap: 4px;
}

.searchIcon {
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: center;
}

.block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #FFF;
  font-size: 16px;
  font-family: var(--font-rubik-light);
  line-height: 19px;
  letter-spacing: -0.02rem;
}

.button {
  background-color: transparent;
  border: none;
}

.cancle {
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #6D6D6D;
  font-family: var(--font-rubik-light);
  line-height: 19px;
  letter-spacing: -0.02rem;
}