@import url('../fonts.css');

:root {
  --primary-bg-color: #151515;
  --secondary-bg-color: #1b1b1b;
  --header-bg-color: #0d0d0d;
  --navbar-bg-color: #000;
  --font-grtsk-tera-light: 'Grtsk-Tera-Light', 'Arial', sans-serif;
  --font-grtsk-tera-bold: 'Grtsk-Tera-Bold', 'Arial', sans-serif;
  --font-rubik-semibold: 'Rubik-SemiBold', 'Arial', sans-serif;
  --font-rubik-bold: 'Rubik-Bold', 'Arial', sans-serif;
}