@import url('../../../shared/assets/fonts/fonts.css'); /* правильно ли? Сборка шрифты собирает, не вижу проблемы с включенными шрифтами */

:root {
  --primary-bg-color: #151515;
  --secondary-bg-color: #1b1b1b;
  --header-bg-color: #0d0d0d;
  --navbar-bg-color: #000;
  --tera-text-font: 'Grtsk_tera', Arial, sans-serif; /* Тест шрифтов + цвет + поменять название */
  --rubik-text-font: 'Rubik', Arial, sans-serif;
  --font-weight-regular-tera: 400;
  --font-weight-bold-tera: 700;
  --font-weight-light-tera: 300;
  --color: white;
}