.view {
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.link {
  margin: 0;
  display: flex;
  padding: 11px 16px;
  gap: 16px;
  text-decoration: none;
  align-items: center;
  background-color: #1B1B1B;
  border-radius: 4px 4px 0 0;
}

.line {
  width: calc(100% - 60px);
  margin: 0 0 0 60px;
  height: 1px;
  background-color: #6D6D6D;
  opacity: .5;
}

.svg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
}

.names {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.linkText {
  font-family: var(--font-rubik-light);
  font-size: 16px;
  line-height: 19px;
  color: #F1F1F1;
  margin: 0;
}