.date {
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-grtsk-tera-bold);
  font-size: 8px;
  width: 46px;
}

.black {
  background-color: var(--light-grey-primary);
  color: #000;
}

.white {
  background-color: transparent;
  color: var(--light-grey-primary);
}

.value {
  font-size: 24px;
}