.main {
  width: 100%;
  margin: 0;
}

.mainContent {
  display: flex;
  gap: 8px;
  padding: 40px 20px;
  align-items: center;
  justify-content: flex-start;
  background-image: url('../../../../shared/assets/images/Profile/background.jpeg');
  background-position: center;
  background-size: cover;
  background-color: rgb(0 0 0 / 69%);
  position: relative;
  z-index: 1;
}

.mainContent::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 69%);
  z-index: 0;
}

.avatar {
  object-fit: cover;
  object-position: center;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  z-index: 2;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0;
  color: #F1F1F1;
  z-index: 2;
}

.heading {
  margin: 0;
  font-family: var(--font-grtsk-tera-bold);
  font-size: 16px;
}

.place {
  margin: 0;
  font-family: var(--font-rubik-regular);
  font-size: 14px;
  line-height: 18px;
}

.hobby {
  margin: 0;
  font-family: var(--font-rubik-regular);
  font-size: 14px;
  list-style: 18px;
}
