.header {
  margin: 0 auto;
  width: 100%;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 58px;
  display: flex;
  max-width: 350px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0D0D0D;
  position: relative;
}

.title {
  font-family: var(--font-grtsk-tera-light);
  max-width: 80px;
  width: 100%;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  padding-bottom: 9px;
}

.link {
  position: absolute;
  top: 56px;
  left: 0px;
}