.header {
  margin: 0 auto;
  padding-top: 25px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #0D0D0D;
  position: relative;
  box-sizing: border-box;
}

.title {
  font-family: var(--font-grtsk-tera-light);
  max-width: 80px;
  width: 100%;
  font-size: 14px;
  line-height: normal;
  margin: 0;
  padding-bottom: 9px;
}

.link {
  position: absolute;
  top: 20px;
  left: 20px;
}