.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: end;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1024px;
  height: 58.1%;
  border-radius: 10px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 14px;
}

.titles {
  display: flex;
  width: calc(100% - 40px);
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

.names {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.clear {
  margin: 0;
  justify-items: flex-start;
  font-size: 17px;
  font-family: var(--font-rubik-regular);
  color: #F1F1F1;
  line-height: 22px;
  letter-spacing: -0.02rem;
  text-align: start;
}

.title {
  font-size: 17px;
  font-family: var(--font-grtsk-tera-bold);
  margin: 0;
  line-height: 22px;
  letter-spacing: -0.02rem;
  color: #FFF;
}

.closeButton {
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background-color: transparent;
}

.block {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 20px;
  max-width: 76.5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #FF4310;
  background-color: #1B1B1B;
}

.heading {
  font-family: var(--font-grtsk-tera-bold);
  font-size: 10px;
  margin: 0;
  color: #F1F1F1;
}

.filter {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 8px auto 0;
  border-radius: 4px;
}

.country {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 11px 16px;
  background-color: #1B1B1B;
}

.all {
  margin: 0;
  font-size: 16px;
  font-family: var(--font-rubik-light);
  line-height: 19px;
  color: #F1F1F1;
}

.choose {
  margin: 0 12px 0 auto;
  font-size: 16px;
  line-height: 19px;
  color: #6D6D6D;
  font-family: var(--font-rubik-light);
}

.line {
  width: calc(100% - 19px);
  height: 1px;
  background-color: #6D6D6D;
  opacity: .5;
  margin: 0 0 0 19px;
}

.label {
  margin: 0 0 10px auto;
	height: 28px;
	line-height: 28px;
  position: relative;
	font-size: 14px;
	user-select: none;
  align-self: center;
  max-height: 20px;
  transition: opacity .3s ease;
}

.checkbox {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease, background-color .2s ease;
}

.checkbox + .switch {
  background-color: #525252;
}

.checkbox:checked + .switch {
  background-color: #FF4310;
}

.checkbox:checked + .switch::before {
  transform: translateX(20px);
  background-color: rgb(245 245 245);
}

.button {
  border: 1px solid #FF4310;
  background-color: #FF4310;
  border-radius: 2px;
  width: calc(100% - 20px);
  text-align: center;
  padding: 11px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F1F1F1;
  line-height: 18px;
  font-family: var(--font-rubik-medium);
  font-size: 14px;
  margin: 24px auto 52px;
}