.section {
  width: 100%;
  margin: 0 auto;
}

.mainContainer {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 25px;
  color: #F1F1F1;
}

.player {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.video {
  width: 200px;
  height: 110px;
  border-radius: 4px;
  background: linear-gradient(0deg, rgb(0 0 0 / 40%) 0%, rgb(0 0 0 / 40%) 100%), url('../../../shared/assets/images/videoImage.png') lightgray 50% / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-family: var(--font-grtsk-tera-light);
  font-size: 12px;
  line-height: 15px;
  max-width: 200px;
  margin: 8px 0 0;
}