.community {
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  margin: 0;
}

.mainContainer {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}