.dropdown {
  position: relative;
  max-width: 203px;
}

.select {
  border-radius: 2px;
  border: 1px solid #FF4310;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 12px;
  align-items: center;
  max-width: 153px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.select.change {
  background-color: #F1F1F1;
  color: #000;
}

.arrow {
  width: 20px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.value {
  font-family: var(--font-rubik-regular);
  font-size: 12px;
  margin: 0;
}