.section {
  width: 100%;
  margin: 0;
}

.mainContainer {
  margin: 0 auto;
  width: calc(100% - 40px);
  display: flex;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
}

.title {
  font-family: var(--font-rubik-regular);
  font-size: 10px;
  text-align: start;
  margin: 0 0 0 16px;
  color: #6D6D6D;
}

.note {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1B1B1B;
  border-radius: 4px;
}

.block {
  width: 100%;
  padding: 11px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin: 0;
	height: 28px;
	line-height: 28px;
  position: relative;
	font-size: 14px;
	user-select: none;
  align-self: center;
  max-height: 20px;
  transition: opacity .3s ease;
}

.checkbox {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.2s ease, background-color .2s ease;
}

.checkbox + .switch {
  background-color: #525252;
}

.checkbox:checked + .switch {
  background-color: #FF4310;
}

.checkbox:checked + .switch::before {
  transform: translateX(20px);
  background-color: rgb(245 245 245);
}

.textLink {
  font-size: 16px;
  font-family: var(--font-rubik-light);
  color: #F1F1F1;
  margin: 0;
  line-height: 19px;
}

.line {
  margin: 0 0 0 16px;
  width: calc(100% - 16px);
  height: 1px;
  background-color: #6D6D6D;
}

.link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 11px 16px;
  text-decoration: none;
}