@font-face {
    font-family: 'Grtsk_tera';
    src: url('./grtsktera-light-webfont.woff') format('woff')
         url('./grtsktera-light-webfont.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Grtsk_tera';
    src: url('./grtsktera-bold-webfont.woff') format('woff')
         url('./grtsktera-bold-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-Bold.woff') format('woff')
         url('./Rubik-Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-Regular.woff') format('woff')
         url('./Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-Light.woff') format('woff')
         url('./Rubik-Light.woff2') format('woff2');
    font-weight: 300;
}