.section {
  width: 100%;
  margin: 0 auto;
}

.mainContainer {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  padding-top: 28px;
  color: #F1F1F1;
}

.cardImage {
  width: calc(100% - 0px);
  height: 85px;
  object-fit: cover;
  object-position: center;
  margin-top: 12px;
  border-radius: 4px;
}