.main {
  width: 100%;
  height: 250vh;
  background-color: #151515;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 16px auto 0;
  padding: 11px 25px;
  font-size: 16px;
  line-height: normal;
  font-family: var(--font-grtsk-tera-bold);
  color: #F1F1F1;
  width: 89.004%;
  border-radius: 2px;
  border: 1px solid #FF4310;
  background: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}