.button {
  width: 100%;
  padding: 8px 10px;
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  color: #000;
  border: none;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-rubik-medium);
  cursor: pointer;
}